html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper footer {
  position: fixed; 
  bottom: 0;
  margin-bottom: auto;
}

/* Part 4 */

li {
  list-style: square;
}

li:last-child {
  color: blue;
}
